<h3> Classification par Sexe </h3>
<div style="display: block">
  <canvas baseChart height="100" height="100"
              [data]="piesexedata"
              [labels]="piesexelabels"
              [chartType]="pie"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<h3> Classification par Département </h3>
<div style="display: block">
  <canvas baseChart height="100" height="100"
              [data]="piedepdata"
              [labels]="piedeplabels"
              [chartType]="pie"
              (chartClick)="chartClicked($event)"></canvas>
</div>

